form {
    margin: 10px auto;
    max-width: 600px;
    padding: 50px;
    background-color: #fafafaf5;
    border-radius: 10px;
    position: relative; 
}

input[type="text"],
input[type="password"],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type="submit"] {
    background-color: #f51a0a;
    color: white;
    margin: 10px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



body {
    background-image: url(img/2.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
}

img.logo { 
    position: absolute;
    top: 20px; 
    left: 500px; 
    width: 100px;
    height: auto;
}

div.form-container {
    position:relative;
    text-align:center; 
}